@import url("styles/header.css");


:root {
    --cor-de-fundo: #eeeeee;
    --branco: #FFFFFF;
    --laranja: #eb9b00;
    --azul-degrade: #0000FF;
}
body {
  background-color: var(--cor-de-fundo);


}



